<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garwer.usercenter.mapper.UserCenterMapper">
    <resultMap id="AppUser" type="com.garwer.common.user.AppUser">
        <id column="USER_ID" jdbcType="DECIMAL" property="userid" />
        <result column="USERNAME" jdbcType="VARCHAR" property="username" />
        <result column="PASSWORD" jdbcType="DECIMAL" property="password" />
        <result column="SEX" jdbcType="DECIMAL" property="sex" />
        <result column="NICKNAME" jdbcType="DECIMAL" property="nickname" />
        <result column="IMG_URL" jdbcType="VARCHAR" property="imgurl" />
        <result column="PHONE" jdbcType="VARCHAR" property="phone" />
        <result column="ENABLED" jdbcType="VARCHAR" property="enabled" />
        <result column="CREATETIME" jdbcType="VARCHAR" property="createtime" />
        <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime" />
    </resultMap>

    <update id="initTable">
        CREATE TABLE if not EXISTS `app_user` (
          `user_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '自增id',
          `user_name` varchar(50) NOT NULL COMMENT '用户名',
          `password` varchar(60) NOT NULL COMMENT '密码',
          `sex` tinyint(1) DEFAULT NULL COMMENT '性别',
          `nick_name` varchar(255) DEFAULT NULL COMMENT '昵称',
          `img_url` varchar(1024) DEFAULT NULL COMMENT '头像url',
          `phone` varchar(11) DEFAULT NULL COMMENT '手机号',
          `enabled` tinyint(1) NOT NULL DEFAULT '1' COMMENT '状态（1有效,0无效）',
          `create_time` datetime NOT NULL COMMENT '创建时间',
          `update_time` datetime NOT NULL COMMENT '修改时间',
          PRIMARY KEY (`user_id`),
          UNIQUE KEY `user_name` (`user_name`)
        ) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COMMENT='用户信息表'
    </update>

    <update id="update">
        update app_user
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="nickname != null and nickname != ''">
                nick_name = #{nickname},
            </if>
            <if test="imgurl != null and imgurl != ''">
                img_url = #{imgurl},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="updatetime != null">
                update_time = #{updatetime},
            </if>
        </set>
        where user_id = #{userid}
    </update>

    <select id="findByUsername" resultMap="AppUser"
            resultType="com.garwer.common.user.AppUser">
         select * from app_user t where t.user_name = #{username}
    </select>

    <select id="findByUserId" resultType="com.garwer.common.user.AppUser">
          select * from app_user t where t.user_id = #{username}
    </select>
</mapper>