<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.garwer.logcenter.mapper.LogCenterMapper">
    <resultMap id="LogDto" type="com.cloud.common.log.LogDto">
        <id column="ID" jdbcType="DECIMAL" property="id" />
        <result column="USERNAME" jdbcType="VARCHAR" property="username" />
        <result column="MODULE" jdbcType="DECIMAL" property="module" />
        <result column="STATUS" jdbcType="DECIMAL" property="status" />
        <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
        <result column="MSG" jdbcType="VARCHAR" property="msg" />
    </resultMap>

    <insert id="saveLog">
      INSERT INTO `log_dto`(username, module, status,createDate, msg) VALUES (#{username}, #{module}, #{status}, #{createDate}, #{msg});
    </insert>

    <update id="initTable">
        CREATE TABLE IF NOT EXISTS `log_dto` (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `username` varchar(50) DEFAULT NULL,
          `module` varchar(100) DEFAULT NULL,
          `status` varchar(10) DEFAULT NULL,
          `createDate` datetime DEFAULT NULL,
          `msg` varchar(1000) DEFAULT NULL,
          PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    </update>

    <select id="findById" resultType="java.util.HashMap">
        select * from log_dto t where t.id = #{id}
    </select>
</mapper>