<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.garwer.logcenter.mapper.LogCenterMapper">
    <resultMap id="LogDto" type="com.cloud.common.log.LogDto">
        <id column="ID" jdbcType="DECIMAL" property="id" />
        <result column="USERNAME" jdbcType="VARCHAR" property="username" />
        <result column="MODULE" jdbcType="DECIMAL" property="module" />
        <result column="STATUS" jdbcType="DECIMAL" property="status" />
        <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
        <result column="MSG" jdbcType="VARCHAR" property="msg" />
    </resultMap>

    <sql id="logDtoCondition">
        <where>
            <if test = "username != null and username != ''">
                <bind name="_username" value = "'%' + username + '%'"/>
                and t.username like #{_username}
            </if>
            <if test = "module != null and module != ''">
                <bind name = "_module" value = "'%' + module + '%'"/>
                and t.module like #{_module}
            </if>
            <if test = "status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                and t.createDate BETWEEN #{beginTime} and #{endTime}
            </if>
        </where>
    </sql>

    <insert id="saveLog">
      INSERT INTO `log_dto`(username, module, status,createDate, msg) VALUES (#{username}, #{module}, #{status}, #{createDate}, #{msg});
    </insert>

    <update id="initTable">
        CREATE TABLE IF NOT EXISTS `log_dto` (
          `id` int(11) NOT NULL AUTO_INCREMENT,
          `username` varchar(50) DEFAULT NULL,
          `module` varchar(100) DEFAULT NULL,
          `status` varchar(10) DEFAULT NULL,
          `createDate` datetime DEFAULT NULL,
          `msg` varchar(1000) DEFAULT NULL,
          PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    </update>

    <select id="findById" resultType="java.util.HashMap">
        select * from log_dto t where t.id = #{id}
    </select>

    <select id="getLogDtoCount" resultType="java.lang.Integer">
      select count(1) from log_dto t
        <include refid="logDtoCondition" />
    </select>

    <select id="findLogs" resultType="com.cloud.common.log.LogDto">
        select * from log_dto t
        <include refid="logDtoCondition" />
        limit #{start}, #{size}
    </select>

</mapper>